.force-scroll-container {
	height: 70dvh;
}

.box {
	width: 3em;
	height: 3em;
	background: red;

	animation-name: boxAnim;
	animation-timeline: scroll(block nearest);
}

@keyframes boxAnim {
	from {
		transform: rotate(0deg);
		background: red;
	}
	50% {
		scale: 1.5;
	}
	to {
		transform: rotate(360deg);
		background: blue;
	}
}
